{{template "header.html" .}}

<p>KeyFu is a keyword engine. It allows you to attach functionality to keywords and navigate the web faster.</p>

<h2>Why</h2>

<p>KeyFu was created because I was addicted to <a href="http://support.mozilla.com/en-US/kb/Smart+keywords">Firefox smart keywords</a> but wanted them to:</p>

<ul>
	<li>Work in all my browsers (Chrome, Firefox, IE, Opera)</li>
	<li>Be synced between all my computers and browsers</li>
	<li>Have advanced functionlity which couldn't be created with Firefox's keywords</li>
</ul>

<h2>When</h2>

<p>I've had personal versions of KeyFu running since early 2005, but a public version wasn't available until 2009.</p>

{{template "footer.html" .}}
