{{template "header.html" .}}

<p><a href="/help">&laquo; Back to Help</a></p>

<table class="cheatsheet">
	<tr><td class="section" colspan="3">Keyword</td></tr>
	<tr><td><code>:<b>a</b>dd</code></td><td><code>:a [filter]</code></td><td>Add new keyword</td></tr>
	<tr><td><code>:<b>d</b>elete</td><td><code>:d <u>key</u></code></td><td>Delete keyword</td></tr>
	<tr><td><code>:<b>e</b>dit</td><td><code>:e <u>key</u></code></td><td>Edit keyword</td></tr>
	<tr><td><code>:<b>l</b>ist</code></td><td><code>:l [filter]</code></td><td>List keywords</td></tr>
	<tr><td><code>:<b>r</b>ename</td><td><code>:r <u>src-key</u>&nbsp;<u>dst-key</u></code></td><td>Rename keyword</td></tr>
	<tr><td class="section" colspan="3">Account</td></tr>
	<tr><td><code>:account</td><td><code>:account</code></td><td>Account settings</td></tr>
	<tr><td><code>:login</td><td><code>:login</code></td><td>Re-login</td></tr>
	<tr><td><code>:logout</td><td><code>:logout</code></td><td>Logout</td></tr>
	<tr><td class="section" colspan="3">Help</td></tr>
	<tr><td><code>:<b>c</b>heat<b>s</b>heet</td><td><code>:cs</code></td><td>Cheat sheet</td></tr>
	<tr><td><code>:<b>h</b>elp</td><td><code>:h</code></td><td>Documentation</td></tr>
	<tr><td class="section" colspan="3">Misc</td></tr>
	<tr><td><code>:home</td><td><code>:home</code></td><td>Homepage</td></tr>
	<tr><td><code>:privacy</td><td><code>:privacy</code></td><td>Privacy Policy</td></tr>
	<tr><td><code>:terms</td><td><code>:terms</code></td><td>Terms of Service</td></tr>
</table>

{{template "footer.html" .}}
