{{template "header.html" .}}

<ul>
	<li><a href="/help/getting-started">Getting Started</a></li>
	<li><a href="/help/cheatsheet">Cheat Sheet</a></li>
</ul>

<p>And feel free to email <a href="mailto:help@keyfu.com">help@keyfu.com</a> with questions, comments and suggestions.</p>

<h2>FAQ</h2>

<dl>
	<dt><a name="default-search"></a>How do I change the default search engine?</dt>
		<dd>Create a keyword with the <a href="/help/glossary#key">key</a> set to <a href="/edit?q=%3A">: (colon)</a>.</dd>
	<dt><a name="profitability"></a>How does KeyFu make money?</dt>
		<dd>I don't right now, but in the future I might add affiliate tags to <a href="/help/glossary#builtin-type">builtin type</a>.</dd>
</dl>

<h2>Other Resources</h2>

<ul>
	<li><a href="/help/glossary">Glossary</a></li>
</ul>

{{template "footer.html" .}}
