{{template "header.html" .}}

<p>By using the KeyFu.com web site (&#8220;Service&#8221;), or any services by Silas Sewell, you are agreeing to be bound by the following terms and conditions (&#x201c;Terms of Service&#x201d;).
IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.</p>

<p>Silas Sewell reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: <a href="http://www.keyfu.com/terms">http://www.keyfu.com/terms</a></p>

<p>Violation of any of the terms below will result in the termination of your Account. While Silas Sewell prohibits such conduct and Content on the Service, you understand and agree that Silas Sewell cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>

<h2>Account Terms</h2>

<ol>
	<li>You must be 13 years or older to use this Service.</li>
	<li>You must be a human. Accounts registered by &#8220;bots&#8221; or other automated methods are not permitted.</li>
	<li>You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.</li>
	<li>You are responsible for maintaining the security of your account and password. Silas Sewell cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
	<li>You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</li>
	<li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</li>
</ol>

<h2>Cancellation and Termination</h2>

<ol>
	<li>Information can not be recovered once your account is cancelled.</li>
	<li>Silas Sewell, in his sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other service by Silas Sewell, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Silas Sewell reserves the right to refuse service to anyone for any reason at any time.</li>
</ol>

<h2>General Conditions</h2>

<ol>
	<li>Your use of the Service is at your sole risk. The service is provided on an &#8220;as is&#8221; and &#8220;as available&#8221; basis.</li>
	<li>You understand that Silas Sewell uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
	<li>You agree not to sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Silas Sewell.</li>
	<li>I may, but have no obligation to, remove Content and Accounts containing Content that I determine in my sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party&#8217;s intellectual property or these Terms of Service.</li>
	<li>You understand that the technical processing and transmission of the Service, including your Content, may be transfered unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
	<li>You must not upload, post, host, or transmit unsolicited email, SMSs, or &#8220;spam&#8221; messages.</li>
	<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
	<li>Silas Sewell does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
	<li>You expressly understand and agree that Silas Sewell shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Silas Sewell has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
	<li>The failure of Silas Sewell to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Silas Sewell and govern your use of the Service, superceding any prior agreements between you and Silas Sewell (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under the laws of the United States and the State of New York.</li>
	<li>Questions about the Terms of Service should be sent to support <a href="mailto:help@keyfu.com">help@keyfu.com</a>.</li>
</ol>

{{template "footer.html" .}}
